<!--29.-Agregamos lo sig-->
<div class="bootstrap-wrapper">
    <div class="container"> 
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <!--29.1*Agrego la imagen que tengo en carpeta assets-->
                    <img src="../../../assets/icon.png" width="100" height="100"> 
                </div>
                <h1 class="text-center">Registrate Aqui</h1>

                <!--31.Agregamos lo sig.
                buscamos sus componente en la pag. de Angular Material,
                buscamos el Form field, y lo agregamos a importar a 
                app.modules.ts-->
                <form action="">
                    <mat-form-field class="full-width" appearence="outline">
                        <!--33.Continuamos agregando etiquetas-->
                        <mat-label>Nombre de usuario</mat-label>
                        <input matInput placeholder="Digite su nombre de usuario">
                    </mat-form-field>
                </form>

            </div>
        </div>
    </div>
</div>
