<!--371.-Ir a app-routing.module.ts, para agregar la ruta-->
<!--377.-Agregamos-->
<h1 class="mt20">Preguntas de {{ titulo }} </h1>
<!--378.-Ir al CMD y generamos servicio en la carpeta service con: ng g s pregunta-->
<!--379.Ir a preguta.service.ts-->
<!--386.-Agregamos-->
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--394.-Agregamo este button-->
            <!--401.-Agregamos en el button el +'/'+titulo-->
            <!--402.-Ir a add-pregunta.component.ts-->
            <div class="container text-center">
                <button mat-raised-button color="primary" [routerLink] = "'/admin/add-pregunta/'+examenId+'/'+titulo">Agregar pregunta</button>
            </div>
            <!--395.-Ir al add-pregunta.component.ts-->
            <mat-card *ngFor= "let p of preguntas; let i = index" class="mt20">
                <mat-card-content>
                    <p>
                        <!--Mostramo la pregunta-->
                        <b> {{ i + 1 }} </b>
                        <span class="ml20" [innerHTML]= "p.contenido"></span>
                    </p>
                    <!--Posibles respuesta-->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p>1)<b> {{ p.opcion1 }} </b></p>
                            </div>

                            <div class="col-md-6">
                                <p>2)<b> {{ p.opcion2 }} </b></p>
                            </div>

                            <div class="col-md-6">
                                <p>3)<b> {{ p.opcion3 }} </b></p>
                            </div>

                            <div class="col-md-6">
                                <p>4)<b> {{ p.opcion4 }} </b></p>
                            </div>

                        </div>
                        
                        <!--Mostramo la respuesta correcta si eres ADMIN-->
                        <mat-divider></mat-divider>
                        <p class="mt20">
                            <b>Respuesta Correcta : {{p.respuesta}} </b>
                        </p>

                        <!--387.-Ir al Back-end en preguntaControllers y agregamo un nuevo metod-->

                    </div>
                </mat-card-content>

                <!--420.-Añadir--> 
                <!--420.1-Pero tener creado en view-examen-pregunta.component.html-->
                
                <mat-card-actions>
                    <button mat-button (click) = "eliminarPregunta(p.preguntaId)" color = "warn">Eliminar</button>
                    <!--433.-Agregar [routerLink=""]-->
                    <button mat-button [routerLink] = "'/admin/pregunta/'+p.preguntaId" color = "primary">Actualizar</button>
                    <!--434.-Después de checar, nos vamos a actualizar-pregunta.component.html-->
                </mat-card-actions>

                <!--421.-Ir al CMD y ir a la carpeta dentro de ADMIn, y crearemos un COMPONENTE: ng g c actualizar-pregunta-->
                <!--422.-Ir a pregunta.services.ts para agregar la ruta-->

            </mat-card>
        </div>
    </div>
</div>