<!--194.-Creamos esto esto de h1
<h1>Perfil de detalles</h1>-->
<!--195.-Ir a admin/dashboard y entrar a dashboard.component.html-->

<!--206.-Agregamo lo siguiente-->
<mat-card>
    <h1>Detalles del Perfil</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="https://imgs.search.brave.com/1_EdnE95-MAgdpp4gAN9nXo3lfCskWVjf3L6AfMVYAY/rs:fit:673:673:1/g:ce/aHR0cHM6Ly93d3cu/cG5nYWxsLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvNS9Qcm9m/aWxlLVBORy1GaWxl/LnBuZw" 
                    alt=""
                    class="profile-image">

                    <h1 class="mt20">Eduardo Gomez Peralta</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Nombre del usuario</td>
                                <td>Eduardo Gomez Peralta</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>123342</td>
                            </tr>
                            <tr>
                                <td>Telefono</td>
                                <td>4351115678</td>
                            </tr>
                            <tr>
                                <td>ROL</td>
                                <td>Administrador</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>Activo</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <mat-card-actions class="text-center">
            <button mat-raised-button color="primary">Actualizar</button>
            <button mat-raised-button color="accent">Compartir</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
<!--207.-Ir .css del mismo profile,y agregar los estilos y regresar a este apartado-->
<!--208.-Ir a app-routing.module.ts, ubicarnos en el pathMatch --> 