html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*28.Agregamos para centrar*/
/*Nos vemos al signup la carpeta*/
.text-center{
    text-align: center;
}

/*36.-Es el ancho*/
.full-width{
    width: 100%;
}

/*
    37.- Nos vamos al CMD y creamos la carpeta de servicio con --> mkdir services
    37.1- Nos vamos a la carpeta services, y creamos los servicios --> ng g s user
    37.2- Despues en la carpeta service, de manera manual, creamos la carteta --> helper.ts
*/

/*54.1-Agregando, es para cuando trabajamos con valores de 20px*/
.ml20{
    margin-left: 20px !important;
}

.mr20{
    margin-right: 20px !important;
}

.mt20{
    margin-top: 20px !important;
}

.mb20{
    margin-bottom: 20px !important;
}

/*54.2-Agregando, es para cuando trabajamos con valores de 10px*/
.ml10{
    margin-left: 10px !important;
}

.mr10{
    margin-right: 10px !important;
}

.mt10{
    margin-top: 10px !important;
}

.mb10{
    margin-bottom: 10px !important;
}

/*54.3.- nos vamos al login.component.css*/