/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*28.Agregamos para centrar*/
/*Nos vemos al signup la carpeta*/
.text-center{
    text-align: center;
}

/*36.-Es el ancho*/
.full-width{
    width: 100%;
}