/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*28.Agregamos para centrar*/
/*Nos vemos al signup la carpeta*/
.text-center{
    text-align: center;
}

/*36.-Es el ancho*/
.full-width{
    width: 100%;
}

/*
    37.- Nos vamos al CMD y creamos la carpeta de servicio con --> mkdir services
    37.1- Nos vamos a la carpeta services, y creamos los servicios --> ng g s user
    37.2- Despues en la carpeta service, de manera manual, creamos la carteta --> helper.ts
*/