<!--56.Agremos lo que aparecera en el home
<h1>Bienvenido al Portal de Examenes</h1>
<button mat-raised-button color="primary">Inicio</button>-->

<!--61.Quitamos el 56 y seguimos-->
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class = "col-md-6 offset-md-3 text-center">
                <h1>Bienvenido al Portal de Examenes</h1>
                <button mat-raised-button color="primary">Inicio</button>
            </div>
        </div>
    </div>
</div>


<!--56.1.Nos vamos al app.component.html-->