<!--136.Agregamos
<h1>Bienvenido al panel de administrador</h1>-->

<!--196.Creamos lo siguiente-->
<!--221.-Modificamos las clases en los numeros-->
<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!--<h3>Menu</h3>-->
                <!--201.-Agregar-->
                <app-sidebar></app-sidebar>
            </div>

            <div class="col-md-9">
                <!--<h3>Contenido</h3>-->
                <!--202.-Agregar y despues ir a app-routing.module.ts-->
                <router-outlet></router-outlet>
                <!--203.-Probar que funcion con los usuario ADMIN-->
                <!--204.-IR AL CMD en la carpeta amdin, y escribir  = ng g c welcome-->
                <!--205.-IR a su carpeta creada welcome en .html-->
            </div>
        </div>
    </div>
</div>
<!--197.-Ir al navegador y buscar = mat list module angular material-->
<!--197.1-Despues ir a app.module.ts y pegar para importar-->
