<!--363.-Copiamos de add-examen.component.html y cambiamos cosas-->
<!--364.-Despues de modificar y a los estilos en css de esta misma carpeta y regresamos aqui-->
<!--Todo lo que hacemos es cargar los datos en un formulario. PERO NO PARA ACTUALIZARLO-->
<!--370.-Ir al CMD en la carpeta admin e ingresamos: ng g c view-examen-preguntas, creado ir a esa carpeta en .html-->
<mat-card>
    <h1>Actualizar examen</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!--Agregamos para poder validadr y guardar los datos-->
            <!--369.-Agregamos (submit)=""-->
            <form *ngIf= "examen" (submit)="actualizarDatos()">
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <input 
                    [(ngModel)] = "examen.titulo"
                    type="text"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="Digite el titulo"
                    required
                    matInput>
                </mat-form-field>

                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Descripcion</mat-label>
                    <textarea
                    [(ngModel)] = "examen.descripcion"
                    type="text"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="Digite la descripcion"
                    matInput
                    rows="8"></textarea>
                </mat-form-field>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Puntos máximos</mat-label>
                            <input 
                            [(ngModel)] = "examen.puntoMaxiomos"
                            type="text"
                            [ngModelOptions]="{standalone: true}"
                            placeholder="Digite la cantidad de puntos"
                            matInput>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Números de preguntas</mat-label>
                            <input 
                            [(ngModel)] = "examen.numerosDePreguntas"
                            type="text"
                            [ngModelOptions]="{standalone: true}"
                            placeholder="Digite la cantidad de preguntas"
                            matInput>
                        </mat-form-field>
                    </div>
                </div>
                
                <mat-slide-toggle class="mt20" name="activo" [(ngModel)] = "examen.activo" color="primary">
                   Estado de publicación
                </mat-slide-toggle>

                <!--Añadimos-->
                <mat-form-field appearance="fill" class="mt20 w100">
                    <mat-label>Categorías</mat-label>
                    <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)] = "examen.categoria.categoriaId">
                        <mat-option *ngFor = "let c of categorias" [value]="c.categoriaId">
                            {{c.titulo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="container text-center">
                    <button mat-raised-button color="primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</mat-card>
