<!--318.-Agregamos-->
<mat-card>
    <h1>Agregar nuevo examen</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form>
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <!--327.-Añadimos el [(ngModel)]-->
                    <input 
                    [(ngModel)] = "examenData.titulo"
                    type="text"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="Digite el titulo"
                    matInput>
                </mat-form-field>

                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Descripcion</mat-label>
                    <!--328.-Añadimos el [(ngModel)]-->
                    <textarea
                    [(ngModel)] = "examenData.descripcion"
                    type="text"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="Digite la descripcion"
                    matInput
                    rows="8"></textarea>
                </mat-form-field>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Puntos máximos</mat-label>
                            <!--329.-Añadimos el [(ngModel)]-->
                            <input 
                            [(ngModel)] = "examenData.puntosMaxiomos"
                            type="text"
                            [ngModelOptions]="{standalone: true}"
                            placeholder="Digite la cantidad de puntos"
                            matInput>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Números de preguntas</mat-label>
                            <!--330.-Añadimos el [(ngModel)]-->
                            <input 
                            [(ngModel)] = "examenData.numerosDepreguntas"
                            type="text"
                            [ngModelOptions]="{standalone: true}"
                            placeholder="Digite la cantidad de preguntas"
                            matInput>
                        </mat-form-field>
                    </div>
                </div>
                <!--319.-Ir a este mismo archivo pero en css y regresamos aqui-->
                <!--320,.Ir a Angular Material y buscamo el: Slide-toggle 
                e importamos en -> app.module.ts-->
                
                <!--322.-Agregamos como casilla de activacion/desactivacion-->
                <!--323.Ir a Angular Material y buscamo el: Select 
                    e importamos en -> app.module.ts-->
                <mat-slide-toggle class="mt20" [ngModelOptions]="{standalone: true}" [(ngModel)] = "examenData.activo" color="primary">
                   Estado de publicación
                </mat-slide-toggle>

                <!--331.-Añadimos-->
                <mat-form-field appearance="fill" class="mt20 w100">
                    <mat-label>Categorías</mat-label>
                    <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)] = "examenData.categoria.categoriaId">
                        <mat-option *ngFor = "let c of categorias" [value]="c.categoriaId">
                            {{c.titulo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!--332-->
                <div class="container text-center">
                    <button mat-raised-button color="primary">Guardar</button>
                </div>
                <!--333.-Ir a add-examem.component.ts-->
            </form>
        </div>
    </div>
</mat-card>
